body {
	background: linear-gradient(#13547a, #80d0c7);
	color: white;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	height: 100vh;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 64px;
	letter-spacing: 5px;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.square {
	width: 20%;
	padding-bottom: 20%;
	margin: 10px;
	border-radius: 15%;
}

.card-back {
	background: #6E396A;
}

.card-front[data-name="cat"] {
	background: url('img/cat.jpg') center center / cover;
}

.card-front[data-name="duck"] {
	background: url('img/duck.jpg') center center / cover;
}

.card-front[data-name="dog"] {
	background: url('img/dog.jpg') center center / cover;
}

.card-front[data-name="turtle"] {
	background: url('img/turtle.jpg') center center / cover;
}

.card-front[data-name="butterfly"] {
	background: url('img/butterfly.jpg') center center / cover;
}

.card-front[data-name="rabbit"] {
	background: url('img/rabbit.jpg') center center / cover;
}

.hidden {
	visibility: hidden;
}
